$dark: #212529;
$brand: #004666;
$brand-light: #012d41;
$body: #727272;
$pry-color: #ffffff;
$font-base: inter-medium, sans-serif;
$box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
$transition: all 0.5s ease;
$answers-color: #4b4b4b;
