@font-face {
  font-family: header-font;
  src: url(../Google-font/UnifrakturCook/UnifrakturCook-Bold.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=UnifrakturCook:wght@700&display=swap");

:root {
  --unifrakturcook-font: "UnifrakturCook";
  --certificate-ff: "EB Garamond";
}

.padding-left {
  padding-left: 4px;
}

.main-container {
  border: 2px solid var(--pry-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 600px;
}

.main-container .completed-div {
  padding: 1em 0px;
}

.main-container .certificate-div {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.certificate-frame {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  background-color: var(--sec-color);
  position: relative;
}

.certificate-frame img {
  position: absolute;
  height: 100%;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detail > * {
  color: #333;
  font-family: var(--certificate-ff), rubik, Arial, Helvetica, sans-serif;
}

.bold {
  font-weight: bolder;
}

.certificate-heading {
  letter-spacing: 2px;
  font-family: var(--unifrakturcook-font), header-font, Arial, Helvetica,
    sans-serif;
  font-weight: bolder;
}

.medal {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  position: absolute;
  bottom: 20px;
  right: 48px;
}

.main-container .result-details-container {
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.result-container > div {
  border-bottom: 1px solid var(--pry-color);
  margin: 0px 8px;
  padding: 8px 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.title {
  padding-left: 12px;
}

.btn-container {
  display: flex;
  place-content: center;
}

@media (max-width: 570px) {
  .main-container {
    border: none;
  }
  .padding-left {
    padding-left: 4%;
  }
}

@media (min-width: 600px) {
  .detail {
    font-size: 17px;
  }

  .view-answer-btn {
    max-width: 300px;
  }
}
