@font-face {
  font-family: inter-black;
  src: url(../Google-font/inter-font/Inter-Black.ttf);
}

@font-face {
  font-family: inter-medium;
  src: url(../Google-font/inter-font/Inter-Medium.ttf);
}

:root {
  --c-dark: #212529;
  --c-brand: #00aeff;
  --c-brand-light: #0c8fcc;
  --c-body: #727272;
  --pry-color: #ffffff;
  --c-font-base: inter-medium, sans-serif;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
}

body {
  font-family: var(--c-font-base) !important;
  line-height: 1.7;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

a {
  transition: var(--transition);
}

img {
  max-width: 100%;
  height: auto;
}

.text-brand {
  color: var(--c-brand);
}

.bg-brand {
  background-color: var(--c-brand);
  color: var(--pry-color);
}

.section-padding {
  padding: 100px 0px 80px;
}

.c-shadow {
  box-shadow: 2px 2px 5px #000000;
}

.c-border-color {
  border-color: var(--c-brand) !important;
}

.centered {
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: inter-black;
}

/* NAV SECTION */

nav {
  box-shadow: var(--box-shadow);
}

.nav-link {
  font-weight: bolder;
  margin-right: 1em;
  color: var(--pry-color);
}

.t-l {
  position: relative;
  overflow: hidden;
}

.t-l::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition);
  transform: translateX(-100%);
}

.category-container .card {
  cursor: pointer;
}

.c-circle {
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-bottom: 4px;
  overflow: hidden;
}

.c-img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-contact-color {
  background-color: #ffdd00;
}

.socials {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.facebook {
  background-color: #1877f2;
}

.twitter {
  background-color: #1da1f2;
}

.insta {
  background-color: #dd2a7b;
}

.tiktok {
  background-color: #fe2c55;
}

.socials i {
  color: #fff;
  font-size: xx-large;
}

.accordion-button {
  background-color: var(--c-brand);
  color: var(--pry-color);
}
.accordion-button:not(.collapsed) {
  background-color: var(--c-brand);
  color: var(--pry-color);
}

.accordion-button::after {
  background-image: none;
  content: '\2b';
  font-family: fontawesome;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  content: '\f068';
}

.store {
  width: 250px;
  height: 50px;
  padding-left: 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.store .store-logo {
  height: 100%;
  width: 60px;
  padding: 4px;
  display: inline-flex;
}

footer {
  background-color: var(--c-dark);
  color: var(--pry-color);
}

footer a {
  color: var(--pry-color);
}

.socials-link a {
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 3px solid var(--pry-color);
  margin-right: 8px;
}

/* hover section */

.navbar-collapse .btn:hover {
  background-color: var(--c-body);
}

.bg-brand:hover {
  background-color: var(--c-brand);
  color: var(--pry-color);
}

.text-brand:hover {
  color: var(--c-brand);
}

.t-l:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--c-brand);
  transform: translateX(0%);
  z-index: -1;
}

.t-l:hover {
  color: var(--pry-color) !important;
}

.hover-not:hover {
  background-color: var(--pry-color) !important;
  color: #000000 !important;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-50px);
  }
}

@keyframes bounce {
  0%,
  100% {
    /* transform: translateY(0); */
    transform: translate(-50px, 0);
  }

  50% {
    /* transform: translateY(-20px); */
    transform: translate(-50px, -20px);
  }
}

/* media queries */
@media (min-width: 992px) {
  .slide-bounde-animinate {
    animation: slide 1s ease-in-out forwards, bounce 3s ease-in-out 1s infinite;
  }
}
